<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhm.bussplat.mapper.AgentRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.hhm.bussplat.entity.AgentRoleMenu">
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.hhm.bussplat.entity.AgentRoleMenu">
    insert into agent_role_menu (menu_id, role_id, creator, 
      create_time)
    values (#{menuId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hhm.bussplat.entity.AgentRoleMenu">
    insert into agent_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="delete" parameterType="java.lang.Long">
    DELETE FROM agent_role_menu
    WHERE 1=1
    <if test="roleId != null">
      AND role_id = #{roleId}
    </if>
    <if test="menuId != null">
      AND menu_id = #{menuId}
    </if>
  </delete>
</mapper>